name: Deploy Way Correspondencias Web for Develop

on:
  push:
    branches:
      - develop

env:
  IMAGE_NAME: way-correspondencias-web
  CONTAINER_NAME: way-web
  AWS_REGION: us-west-2

jobs:
  build:
    name: Build, Push and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Criar arquivo .env
        run: |
          echo "${{ secrets.ENV_FILE_WAY_DEV }}" > .env

      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login no Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Definir tag da imagem
        run: |
          BRANCH_NAME=$(echo "${GITHUB_REF_NAME}" | tr '/' '-')
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          IMAGE_TAG="${BRANCH_NAME}_${SHORT_SHA}"

          IMAGE_REPO=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.IMAGE_NAME }}

          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "IMAGE_REPO=$IMAGE_REPO" >> $GITHUB_ENV
          echo "IMAGE_FULL=$IMAGE_REPO:$IMAGE_TAG" >> $GITHUB_ENV

      - name: Build and Push image (with cache)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # - name: Chamar API de deploy
      #   run: |
      #     IMAGE="${{ env.IMAGE_FULL }}"
      #     CONTAINER="${{ env.CONTAINER_NAME }}"
      #     BRANCH="${GITHUB_REF_NAME}"

      #     RESPONSE=$(curl -s -w "\n%{http_code}" -X POST https://gateway.deploy.way.rtechsolution.com.br/deploy/web \
      #       -H "Content-Type: application/json" \
      #       -d "$(jq -n \
      #         --arg image "$IMAGE" \
      #         --arg container "$CONTAINER" \
      #         --arg branch "$BRANCH" \
      #         '{image: $image, container: $container, branch: $branch}')")

      #     HTTP_BODY=$(echo "$RESPONSE" | head -n1)
      #     HTTP_STATUS=$(echo "$RESPONSE" | tail -n1)

      #     echo "Status HTTP: $HTTP_STATUS"
      #     echo "Body: $HTTP_BODY"

      #     if [ "$HTTP_STATUS" -ne 200 ] || [ "$(echo "$HTTP_BODY" | jq -r '.success')" != "true" ]; then
      #       echo "Erro no deploy"
      #       exit 1
      #     fi

      # - name: Send success message to Google Chat
      #   if: success()
      #   env:
      #     COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      #     GIT_BRANCH: ${{ github.ref_name }}
      #     WEBHOOK_URL: https://chat.googleapis.com/v1/spaces/AAQA5qsWFdQ/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=VyWYfeqljUfRTIYU-mvpjOntN4ykR2me8p6Cn_ROEPg
      #   run: |
      #     PAYLOAD=$(cat << EOF
      #     {
      #       "text": "Deploy do projeto Way Correspondencias",
      #       "cards": [
      #         {
      #           "sections": [
      #             {
      #               "widgets": [
      #                 { "keyValue": { "topLabel": "Projeto", "content": "way-correspondencias-web" } },
      #                 { "keyValue": { "topLabel": "Branch", "content": "$GIT_BRANCH" } },
      #                 { "keyValue": { "topLabel": "Status", "content": "SUCCESS ✅" } },
      #                 { "keyValue": { "topLabel": "Mensagem", "content": "Deploy para o Way Correspondencias Web realizado com sucesso!" } },
      #                 { "keyValue": { "topLabel": "Commit", "content": "$COMMIT_MESSAGE" } }
      #               ]
      #             }
      #           ]
      #         }
      #       ]
      #     }
      #     EOF
      #     )
      #     curl -s -X POST -H "Content-Type: application/json" -d "$PAYLOAD" "$WEBHOOK_URL"

      # - name: Send failure message to Google Chat
      #   if: failure()
      #   env:
      #     COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      #     GIT_BRANCH: ${{ github.ref_name }}
      #     WEBHOOK_URL: https://chat.googleapis.com/v1/spaces/AAQA5qsWFdQ/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=VyWYfeqljUfRTIYU-mvpjOntN4ykR2me8p6Cn_ROEPg
      #   run: |
      #     PAYLOAD=$(cat << EOF
      #     {
      #       "text": "Deploy do projeto Way Correspondencias",
      #       "cards": [
      #         {
      #           "sections": [
      #             {
      #               "widgets": [
      #                 { "keyValue": { "topLabel": "Projeto", "content": "way-correspondencias-web" } },
      #                 { "keyValue": { "topLabel": "Branch", "content": "$GIT_BRANCH" } },
      #                 { "keyValue": { "topLabel": "Status", "content": "FAILED ❌" } },
      #                 { "keyValue": { "topLabel": "Mensagem", "content": "Deploy para o Way Correspondencias Web falhou!" } },
      #                 { "keyValue": { "topLabel": "Commit", "content": "$COMMIT_MESSAGE" } }
      #               ]
      #             }
      #           ]
      #         }
      #       ]
      #     }
      #     EOF
      #     )
      #     curl -s -X POST -H "Content-Type: application/json" -d "$PAYLOAD" "$WEBHOOK_URL"